*~
.idea
app/cache/
app/clone/
app/civicrm.settings.d/*.local.php
app/config/civix.ini
app/config/starterkit/civicrm_starterkit/
app/debug/
app/private
app/run/
app/snapshot/
app/tmp/
bin/amp
bin/boris
bin/bower
bin/civicrm-upgrade-test
bin/civistrings
bin/civix
bin/composer
bin/dbunit
bin/drush
bin/drush.bat
bin/drush.complete.sh
bin/drush.php
bin/git-scan
bin/joomla
bin/jshint
bin/karma
bin/hub
bin/paratest
bin/phpcs
bin/phpcbf
bin/phpunit
bin/wp
bin/wp.bat
build/
extern/
node_modules/
vagrant/*/.vagrant
vendor/
web/
