*~
.idea
.composer-downloads
app/AMPHOME/
app/cache/
app/civibuild.conf
app/civicrm.settings.d/*.local.php
app/clone/
app/config/civix.ini
app/config/starterkit/civicrm_starterkit/
app/debug/
app/private
app/releaser.conf
app/run/
app/snapshot/
app/tmp/
bin/amp
bin/amp.bat
bin/bknix-ci-cleanup
bin/boris
bin/boris.bat
bin/bower
bin/bower.bat
bin/box
bin/civici
bin/civicredits
bin/civicrm-upgrade-examples
bin/civicrm-upgrade-test
bin/civicrm-upgrade-test.bat
bin/civistrings
bin/civistrings.bat
bin/civi-test-job
bin/civi-test-pr
bin/civix
bin/_codecept-php5.phar
bin/_codecept-php7.phar
bin/composer
bin/coworker
bin/cv
bin/dbunit
bin/dbunit.bat
bin/drush
bin/drush.bat
bin/drush.complete.sh
bin/drush.complete.sh.bat
bin/drush.php
bin/drush.php.bat
bin/drush8
bin/fetch-universe
bin/find-stale-builds
bin/forkify
bin/git-php-symbol-diff
bin/git-scan
bin/git-scan.bat
bin/grunt
bin/hub
bin/import-rn
bin/joomla
bin/joomla.bat
bin/jshint
bin/karma
bin/paratest
bin/paratest.bat
bin/phantomjs
bin/phive
bin/php-symbol-diff
bin/phpcbf
bin/phpcbf.bat
bin/phpcs
bin/phpcs.bat
bin/phpunit
bin/phpunit.bat
bin/phpunit4
bin/phpunit5
bin/phpunit6
bin/phpunit7
bin/phpunit8
bin/phpunit9
bin/pogo
bin/protractor
bin/webdriver-manager
bin/wp
bin/wp.bat
bin/zipdiff
build/
extern/
node_modules/
vagrant/*/.vagrant
vendor/
web/
/.loco/var/
/.loco/*.overrides.yml
/.loco/var.keep/
/.phive/
/nix/etc/bashrc.local
/nix/result
/nix/result*
/nix/pkgs/result
/nix/pkgs/result-*
/src/demo-proxy/.loco/var/
