; A drush makefile for CiviCRM.
; Call using:
; drush make --working-copy civicrm.make

; drush make API version
api = 2

; Drupal core
core = %%CMS_VERSION%%

; ****************************************
; Drupal core
; ****************************************

projects[] = drupal

; ****************************************
; CiviCRM core
; ****************************************

; IMPORTANT: replace "github.com/civicrm" by your own fork of CiviCRM.
; This will make it easier to submit pull-requests for patches.
; see: http://wiki.civicrm.org/confluence/display/CRMDOC/Github+for+CiviCRM

libraries[civicrm][destination] = modules
libraries[civicrm][directory_name] = civicrm
libraries[civicrm][download][type] = git
libraries[civicrm][download][url] = %%CACHE_DIR%%/civicrm/civicrm-core.git
libraries[civicrm][download][branch] = %%CIVI_VERSION%%
libraries[civicrm][overwrite] = TRUE

libraries[civicrmdrupal][destination] = modules
libraries[civicrmdrupal][directory_name] = civicrm/drupal
libraries[civicrmdrupal][download][type] = git
libraries[civicrmdrupal][download][url] = %%CACHE_DIR%%/civicrm/civicrm-drupal.git
libraries[civicrmdrupal][download][branch] = 7.x-%%CIVI_VERSION%%
libraries[civicrmdrupal][overwrite] = TRUE

libraries[civicrmpackages][destination] = modules
libraries[civicrmpackages][directory_name] = civicrm/packages
libraries[civicrmpackages][download][type] = git
libraries[civicrmpackages][download][url] = %%CACHE_DIR%%/civicrm/civicrm-packages.git
libraries[civicrmpackages][download][branch] = %%CIVI_VERSION%%
libraries[civicrmpackages][overwrite] = TRUE

; Overwrite .mo files with latest versions
libraries[civicrm_l10n_latest][destination] = modules
libraries[civicrm_l10n_latest][directory_name] = civicrm/l10n
libraries[civicrm_l10n_latest][download][type] = get
libraries[civicrm_l10n_latest][download][url] = http://download.civicrm.org/civicrm-l10n-core/archives/civicrm-l10n-daily.tar.gz
libraries[civicrm_l10n_latest][overwrite] = TRUE

; Download available l10n releases (may be outdated)
; libraries[civicrm_l10n][destination] = modules
; libraries[civicrm_l10n][directory_name] = civicrm/l10n/fr_CA/LC_MESSAGES/
; libraries[civicrm_l10n][download][type] = get
; libraries[civicrm_l10n][download][url] = "https://raw.github.com/civicrm/l10n/master/po/fr_CA/civicrm.mo"
; libraries[civicrm_l10n][overwrite] = TRUE

; ****************************************
; Runtime Modules
; ****************************************

projects[civicrm_error][subdir] = contrib
projects[civicrm_error][version] = 2.0-rc3


projects[libraries][subdir] = contrib
projects[libraries][version] = 1.0

projects[redirect][subdir] = contrib
projects[redirect][version] = 1.0-rc1

projects[webform][subdir] = contrib
projects[webform][version] = 4.12

projects[options_element][subdir] = contrib
projects[options_element][version] = 1.12

projects[webform_civicrm][subdir] = contrib
projects[webform_civicrm][version] = 4.16

projects[views][subdir] = contrib
projects[views][version] = 3.8

projects[login_destination][subdir] = contrib
projects[login_destination][version] = "1.1"

projects[userprotect][subdir] = contrib
projects[userprotect][version] = "1.0"

; ****************************************
; Developer modules
; ****************************************

projects[devel][subdir] = contrib
projects[devel][version] = 1.3

libraries[civicrmdeveloper][destination] = modules
libraries[civicrmdeveloper][directory_name] = contrib/civicrm_developer
libraries[civicrmdeveloper][download][type] = git
libraries[civicrmdeveloper][download][url] = %%CACHE_DIR%%/eileenmcnaughton/civicrm_developer.git
libraries[civicrmdeveloper][download][branch] = master
libraries[civicrmdeveloper][overwrite] = TRUE

libraries[shoreditch][destination] = modules
libraries[shoreditch][directory_name] = civicrm/ext/shoreditch
libraries[shoreditch][download][type] = git
libraries[shoreditch][download][url] = %%CACHE_DIR%%/civicrm/org.civicrm.shoreditch.git
libraries[shoreditch][download][branch] = master
libraries[shoreditch][overwrite] = TRUE

libraries[civicase][destination] = modules
libraries[civicase][directory_name] = civicrm/ext/civicase
libraries[civicase][download][type] = git
libraries[civicase][download][url] = %%CACHE_DIR%%/civicrm/org.civicrm.civicase.git
libraries[civicase][download][branch] = master
libraries[civicase][overwrite] = TRUE

libraries[styleguide][destination] = modules
libraries[styleguide][directory_name] = civicrm/ext/styleguide
libraries[styleguide][download][type] = git
libraries[styleguide][download][url] = %%CACHE_DIR%%/civicrm/org.civicrm.styleguide.git
libraries[styleguide][download][branch] = master
libraries[styleguide][overwrite] = TRUE

libraries[api4][destination] = modules
libraries[api4][directory_name] = civicrm/ext/api4
libraries[api4][download][type] = git
libraries[api4][download][url] = %%CACHE_DIR%%/civicrm/api4.git
libraries[api4][download][branch] = master
libraries[api4][overwrite] = TRUE
