# This is an example systemd service which deploys bknix as a systemd service.
#
# To use it:
#
# 1. Copy this template, e.g. `cp systemd/bknix-%%PROFILE%%.service /etc/systemd/system/`
# 2. Change all references to `%%OWNER%%` or `%%PROFILE%%`
# 3. Load the new service (`systemctl daemon-reload`)
# 4. Start the new service for immediate use (`systemctl start bknix-%%PROFILE%%`)
# 5. Enable the new service to start on reboot (`systemctl enable bknix-%%PROFILE%%`)

[Unit]
Description=Buildkit LAMP (%%PROFILE%%)
After=syslog.target
After=network.target
Requires=%%RAMDISKSVC%%.mount

[Service]
Type=forking
PermissionsStartOnly=true
ExecStartPre=/bin/bash -c 'mkdir -p "%%RAMDISK%%/%%PROFILE%%" && chown "%%OWNER%%" "%%RAMDISK%%/%%PROFILE%%"'
ExecStart=/bin/bash -c 'eval $(/usr/local/bin/use-bknix %%PROFILE%%); amp config:set --ram_disk_type=manual --ram_disk_dir="%%RAMDISK%%/%%PROFILE%%" && amp mysql:start'
PIDFile=%%RAMDISK%%/%%PROFILE%%/mysqld.pid
TimeoutSec=300
PrivateTmp=true
LimitNOFILE=100000
User=%%OWNER%%
Group=%%OWNER%%
WorkingDirectory=/home/%%OWNER%%

[Install]
WantedBy=multi-user.target
