; A drush makefile for CiviCRM.
; Call using:
; drush make --working-copy civicrm.make

; drush make API version
api = 2

; Drupal core
core = %%CMS_VERSION%%

; ****************************************
; Drupal core
; ****************************************

projects[] = drupal
projects[] = libraries

; ****************************************
; CiviCRM core
; ****************************************

; IMPORTANT: replace "github.com/civicrm" by your own fork of CiviCRM.
; This will make it easier to submit pull-requests for patches.
; see: http://wiki.civicrm.org/confluence/display/CRMDOC/Github+for+CiviCRM

libraries[civicrmdrupal][destination] = modules
libraries[civicrmdrupal][directory_name] = civicrm-drupal
libraries[civicrmdrupal][download][type] = git
libraries[civicrmdrupal][download][url] = %%CACHE_DIR%%/civicrm/civicrm-drupal-8.git
libraries[civicrmdrupal][download][branch] = %%CIVI_VERSION%%
libraries[civicrmdrupal][overwrite] = TRUE

libraries[civicrm][destination] = libraries
libraries[civicrm][directory_name] = civicrm
libraries[civicrm][download][type] = git
libraries[civicrm][download][url] = %%CACHE_DIR%%/civicrm/civicrm-core.git
libraries[civicrm][download][branch] = %%CIVI_VERSION%%
libraries[civicrm][overwrite] = TRUE

libraries[civicrmpackages][destination] = libraries
libraries[civicrmpackages][directory_name] = civicrm/packages
libraries[civicrmpackages][download][type] = git
libraries[civicrmpackages][download][url] = %%CACHE_DIR%%/civicrm/civicrm-packages.git
libraries[civicrmpackages][download][branch] = %%CIVI_VERSION%%
libraries[civicrmpackages][overwrite] = TRUE

; Download available l10n releases (may be outdated)
; libraries[civicrm_l10n][destination] = libraries
; libraries[civicrm_l10n][directory_name] = civicrm/l10n/fr_CA/LC_MESSAGES/
; libraries[civicrm_l10n][download][type] = get
; libraries[civicrm_l10n][download][url] = "https://raw.github.com/civicrm/l10n/master/po/fr_CA/civicrm.mo"
; libraries[civicrm_l10n][overwrite] = TRUE

; Overwrite .mo files with latest versions
libraries[civicrm_l10n_latest][directory_name] = civicrm/l10n
libraries[civicrm_l10n_latest][download][type] = get
libraries[civicrm_l10n_latest][download][url] = http://download.civicrm.org/civicrm-l10n-core/archives/civicrm-l10n-daily.tar.gz
libraries[civicrm_l10n_latest][overwrite] = TRUE

; ****************************************
; Runtime Modules
; ****************************************

; ****************************************
; Developer modules
; ****************************************

libraries[api4][destination] = libraries
libraries[api4][directory_name] = civicrm/ext/api4
libraries[api4][download][type] = git
libraries[api4][download][url] = %%CACHE_DIR%%/civicrm/api4.git
libraries[api4][download][branch] = master
libraries[api4][overwrite] = TRUE

libraries[civivolunteer][destination] = libraries
libraries[civivolunteer][directory_name] = civicrm/tools/extensions/civivolunteer
libraries[civivolunteer][download][type] = git
libraries[civivolunteer][download][url] = %%CACHE_DIR%%/civicrm/civivolunteer.git
libraries[civivolunteer][download][branch] = %%VOL_VERSION%%
libraries[civivolunteer][overwrite] = TRUE

libraries[ng_profiles][destination] = libraries
libraries[ng_profiles][directory_name] = civicrm/tools/extensions/org.civicrm.angularprofiles
libraries[ng_profiles][download][type] = git
libraries[ng_profiles][download][url] = %%CACHE_DIR%%/ginkgostreet/org.civicrm.angularprofiles.git
libraries[ng_profiles][download][branch] = %%NG_PRFL_VERSION%%
libraries[ng_profiles][overwrite] = TRUE

libraries[civisualize][destination] = libraries
libraries[civisualize][directory_name] = civicrm/tools/extensions/civisualize
libraries[civisualize][download][type] = git
libraries[civisualize][download][url] = %%CACHE_DIR%%/TechToThePeople/civisualize.git
libraries[civisualize][download][branch] = master
libraries[civisualize][overwrite] = TRUE

libraries[cividiscount][destination] = libraries
libraries[cividiscount][directory_name] = civicrm/tools/extensions/cividiscount
libraries[cividiscount][download][type] = git
libraries[cividiscount][download][url] = %%CACHE_DIR%%/civicrm/org.civicrm.module.cividiscount.git
libraries[cividiscount][download][branch] = %%DISC_VERSION%%
libraries[cividiscount][overwrite] = TRUE
