#!/bin/bash

#############################################################################
## civibuild.conf
##
## To customize buildkit options, copy `app/civibuild.conf.tmpl` to
## `app/civibuild.conf" and declare variables.
##
## For a list of variables and their descriptions, see
## `src/civibuild.defaults.sh`.

#############################################################################
## Example: Change the default username/password for the administrator.

# ADMIN_USER="ethanhunt"
# ADMIN_PASS="686PrototypeWithArtificialIntelligence"
# ADMIN_EMAIL="imf@state.gov"

#############################################################################
## Example: Change the default username/password for the demo user.

# DEMO_USER="jimphelps"
# DEMO_PASS="TheSecretaryWillDisavow"
# DEMO_EMAIL="imf@trustno.one"

#############################################################################
## Example: Set default URLs based on a wildcard domain (eg *.local)

# URL_TEMPLATE="http://%SITE_NAME%.local"

#############################################################################
## Example: Setup .htaccess files for mod_vhost_alias (which detects new
## vhosts without reloading Apache).

# APACHE_VHOST_ALIAS=1

#############################################################################
## Example: an extra site configuration directory. You can put your custom site
## types in this directory.
## No trailing slash.

# CIVIBUILD_PATH="$HOME/extra_site_configs:$CIVIBUILD_PATH"

#############################################################################
## Example: Place all builds in /srv/www.

# BLDDIR=/srv/www

## Tip: If you have existing builds and change the BLDDIR, you may
## want to destroy and recreate them.  Moving them may be tricky
## because you would need to find and update absolute-paths in
## several places.

#############################################################################
## Example: Enable verbose flag for all builds

# VERBOSE=1

#############################################################################
## Example: Update civibuild's $PATH

# PATH="$HOME/src/amp/bin:$PATH"
# export PATH

## The above example forces civibuild to use the amp executable found
## in $HOME/src/amp/bin rather than the default from buildkit's bin
## directory.
