; Call using:
; drush make --working-copy civicrm.make

; drush make API version
api = 2

; Drupal core
core = %%CMS_VERSION%%

; ****************************************
; Drupal core
; ****************************************

projects[] = drupal

; ****************************************
; Runtime Modules
; ****************************************

projects[libraries][subdir] = contrib
projects[libraries][version] = 1.0

projects[views][subdir] = contrib
projects[views][version] = 3.7

; ****************************************
; Developer modules
; ****************************************

projects[devel][subdir] = contrib
projects[devel][version] = 1.3
